<div class="content">
  <div class="content__container">
    <h2 class="content__title">Master Article Index</h2>
    <ul class="content__list">
      <% @articles.each do |article| %>
        <li class="content__article">
          <h3 class="content__article__title">
            <%= link_to article.title, article_path(article), :class => "content__article__title" %>
          </h3>
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: {confirm: 'Are you sure'} %>
        </li>
      <% end %>
    </ul>
  </div>
</div>