
<%= render 'layouts/navbar' %>

<div class="article-body">
  <%= @article.title %>
<div>
 
<p>
  <strong>Text:</strong>
  <%= sanitize @article.text, scrubber: ArticleScrubberHelper::ArticleScrubber.new %>
</p>

