<h1>tanyabrassie.net is currently underconstruction</h1>
<h2>Expected Completion Date: Winter 2019</h2>
<h2>Project Type: Website, Mixed Use</h2>

<em>To our other luxury developments, go to www.tanyabrassie.com</em>