<div class="entrance">
  <%= link_to scriptorium_path, class: 'entrance__link' do %>
    <span class="color-morph__a">S</span>
    <span class="color-morph__b">c</span>
    <span class="color-morph__c">r</span>
    <span class="color-morph__d">i</span>
    <span class="color-morph__a">p</span>
    <span class="color-morph__b">t</span>
    <span class="color-morph__c">o</span>
    <span class="color-morph__d">r</span>
    <span class="color-morph__a">i</span>
    <span class="color-morph__b">u</span>
    <span class="color-morph__c">m</span>
  <% end %>
</end>

