<div class="entrance">
  <%= link_to scriptorium_path, class: 'entrance__link' do %>
    <span class="color-morph__a">S</span>
    <span class="color-morph__b">c</span>
    <span class="color-morph__c">r</span>
    <span class="color-morph__a">i</span>
    <span class="color-morph__b">p</span>
    <span class="color-morph__c">t</span>
    <span class="color-morph__a">o</span>
    <span class="color-morph__b">r</span>
    <span class="color-morph__c">i</span>
    <span class="color-morph__a">u</span>
    <span class="color-morph__b">m</span>
  <% end %>
</end>

