<div class="header">
  <div class="not-equal">
    <span class="exclamation">!</span>
    <span class="equals">=</span>
    <span class="equals-two">=</span>
  </div>
  <div class="russian">Ğ‘</div>
  <div class="closing">&#60;/&#62;</div>
  <div class="brackets">{}</div>
  <div class="header-content">
    <div class="header-content__text">
      <h1 class="header-content__title">
        <span class="color-morph__a">T</span>
        <span class="color-morph__b">h</span>
        <span class="color-morph__c space">e</span>
        <span class="color-morph__a">S</span>
        <span class="color-morph__b">c</span>
        <span class="color-morph__c">r</span>
        <span class="color-morph__d">i</span>
        <span class="color-morph__a">p</span>
        <span class="color-morph__b">t</span>
        <span class="color-morph__c">o</span>
        <span class="color-morph__d">r</span>
        <span class="color-morph__a">i</span>
        <span class="color-morph__b">u</span>
        <span class="color-morph__c">m</span>
      </h1>
      <em class="header-content__subtitle">A learning center</em>
    </div>
    <div class="header-content__image">
      <%= image_tag "gradient-monk.png", class: "header-content__image__monk" %>
    </div>
  </div>
  <div class="dots">...</div>
  <div class="ands floating">&&</div>
</div>

<div class="content">
  <div class="content__container">
    <h2 class="content__title">Entries</h2>
    <ul class="content__list">
      <% @articles.each do |article| %>
        <li class="content__article">
          <h3 class="content__article__title">
            <%= link_to article.title, article_path(article), :class => "content__article__title" %>
          </h3>
        </li>
      <% end %>
  </div>
</div>
