$green: #DFE7DB;
$cream: #FFF7F1;
$greyBrown: #5E5B57;
$coral: #FFB0A3;
$lightGreen: #e9f1f0c4;

$teal: #85dec8;
$yellowTeal: #86dcbb;
$purple: #899bff;
$electricPurple: #4b66ff;
$white: #ffffff;
$sandyGrey: #e5eced;

$lightGrey: #f3f3f3;
$lightGreyBrown: #bdb8b1;
