// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.article-wrapper {
  padding: 20px;
  max-width: 830px;
  margin: auto;

  ul {
    display: block;
  }
}

.article__title {
  font-size: 34px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 2px;
  padding: 10px 0px;
}

.article__image {
  width: 100%;
}

.article__timestamp {
  font-family: prestige-elite-std, monospace;
  padding: 20px 0 10px;
  display: block;
  color: $lightGreyBrown;
}

.article__tables {
  display: flex;
  justify-content: center;
}

.table__container {
  margin: 30px 0;
  padding: 10px;
}

.paragraph {
  padding: 10px 0;
  font-size: 18px;
}

.table {

  td {
    outline: 4px solid $white;
    min-width: 60px;
  }
}

.table__ending {
  background-color: #f3f3f3;
  padding: 5px 10px;
}

.table__name {
  font-weight: 700;
}

.table__answer {
  transition: opacity 1s;
  padding: 5px 10px;
  background-color: #f3f3f3;
  cursor: help;
}
