// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.article-wrapper {
  padding: 20px;
  max-width: 830px;
  margin: auto;

  ul {
    display: block;
  }
}

.article__header {
  font-size: 34px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 2px;
  padding: 10px 0px;
}

.article__subheader {
  font-size: 22px;
  font-weight: 700;
  padding: 10px 0;
}

.article__image {
  width: 100%;
}

.article__timestamp {
  font-family: prestige-elite-std, monospace;
  padding: 20px 0 10px;
  display: block;
  color: $lightGreyBrown;
}

.article__tables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;

  @media screen and (min-width: 540px) {
    flex-direction: row;
  }
}

.article__number-list {
  list-style-type: decimal;
  padding: 10px;
  margin-left: 10px;
}

.table__container {
  padding: 10px;
}

strong {
  font-weight: 700;
}

.paragraph {
  padding: 10px 0;
  font-size: 18px;
}

.table {

  td {
    outline: 4px solid $white;
    min-width: 60px;
  }
}

.table__ending {
  background-color: #f3f3f3;
  padding: 5px 10px;
}

.table__name {
  font-weight: 700;
}

.table__answer {
  transition: opacity 1s;
  padding: 5px 10px;
  background-color: #f3f3f3;
  cursor: help;
}


// helpers

.px1 {
  padding: 0 10px;
}

.px2 {
  padding: 0 20px;
}

.py1 {
  padding: 10px 0;
}

.py2 {
  padding: 20px 0;
}


//text colors

.purple-text {
  color: #b73aff;
}

.blue-text {
  color: #0de7ff;
}

.red-text {
  color: #ff1885;
}

.navy-text {
  color: #3926ff;
}

.green-text {
  color: #58ecd6;
}