@import 'colors';

.navbar {
  padding: 10px 20px;
  border-bottom: 1px solid $greyBrown;

  &__links {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  &__logo {
    font-size: 20px;
    letter-spacing: -2px;
    font-weight: 700;
    text-decoration: none;
    color: $purple;
  }
}