// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entrance {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-content: center;
  background-color: #e9f1f0c4;

  &__link {
    margin: auto;
    font-size: 28px;
    margin: auto;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: -2px;
    color: #a771b7;
  }
}

.intro-link {
  display: block;  
}

$green: #86dcbb;
$purple: #899bff;
$neonPurple: #f9bbff;
$yellow: #ddec32;
$orange: #ffe5bb;

@mixin colorMorphA {
  animation-name: colorMorphA;
  animation-delay: 0s;
  animation-duration: 5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  
  @keyframes colorMorphA {
    0% {
      color: $green;
    }

    50% {
      color: $purple;
    }

    100% {
      color: $neonPurple;
    }
  }
}

@mixin colorMorphB {
  animation-name: colorMorphB;
  animation-delay: 0s;
  animation-duration: 5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  
  @keyframes colorMorphB {
    0% {
      color: $neonPurple;
    }

    50% {
      color: $green;
    }

    100% {
      color: $purple;
    }
  }
}

@mixin colorMorphC {
  animation-name: colorMorphC;
  animation-delay: 0s;
  animation-duration: 5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  
  @keyframes colorMorphC {
    0% {
      color: $green;
    }

    50% {
      color: $orange;
    }

    100% {
      color: $neonPurple;
    }
  }
}






.color-morph__a {
  @include colorMorphA;
}

.color-morph__b {
  @include colorMorphB;
}

.color-morph__c {
  @include colorMorphC;
}